/*!
* Custom CSS. ID - Innovacion Digital
*/

/*!
*Login
*/
.auth-wrapper {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    width: 100%;
}

.auth-wrapper .auth-inner {
    width: 100%;
}

.auth-wrapper.auth-basic {
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.auth-wrapper.auth-basic .auth-inner {
    position: relative;
}

.auth-wrapper.auth-basic .auth-inner:after {
    width: 272px;
    height: 272px;
    content: ' ';
    position: absolute;
    bottom: -55px;
    right: -75px;
    z-index: -1;
}

.auth-wrapper.auth-cover {
    align-items: flex-start;
}

.auth-wrapper.auth-cover .auth-inner {
    height: 100vh;
    overflow-y: auto;
    height: calc(var(--vh, 1vh) * 100);
}

.auth-wrapper.auth-cover .brand-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin: 0;
    z-index: 1;
    justify-content: unset;
}

.auth-wrapper.auth-basic .auth-inner {
    max-width: 400px;
}

.auth-wrapper .brand-logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.auth-wrapper .brand-logo .brand-text {
    font-weight: 600;
}

.auth-wrapper .auth-footer-btn .btn {
    padding: 0.6rem !important;
}

.auth-wrapper .auth-footer-btn .btn:not(:last-child) {
    margin-right: 1rem;
}

.auth-wrapper .auth-footer-btn .btn:focus {
    box-shadow: none;
}

.auth-wrapper .auth-input {
    max-width: 50px;
    padding-right: 0.571rem;
    padding-left: 0.571rem;
}

.auth-wrapper .custom-options-checkable .plan-price .pricing-value {
    font-size: 3rem;
}

.auth-wrapper .custom-options-checkable .plan-price sup {
    top: -1.5rem;
    left: 0.2rem;
}

.auth-wrapper .custom-options-checkable .plan-price sub {
    bottom: 0;
    right: 0.14rem;
}

.auth-wrapper .auth-bg {
    background-color: #fff;
}

@media (max-width: 575.98px) {
    .auth-wrapper.auth-basic .auth-inner:before {
        display: none;
    }

    .auth-wrapper.auth-basic .auth-inner:after {
        display: none;
    }

    .auth-wrapper.auth-cover .brand-logo {
        left: 1.5rem;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .auth-wrapper.auth-cover .auth-card {
        width: 400px;
    }
}

@media (max-height: 825px) and (max-width: 991.98px) {
    .dark-layout .auth-wrapper .auth-inner {
        background-color: #283046;
    }

    .auth-wrapper .auth-bg {
        padding-top: 3rem;
        margin: auto 0;
    }

    .auth-wrapper .auth-inner {
        background-color: #fff;
    }

    .auth-wrapper.auth-cover .auth-inner {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .auth-wrapper.auth-cover .brand-logo {
        position: relative;
        left: 0;
        padding-left: 1.5rem;
    }
}
/*!
* Icons - innovacion digital
*/
@font-face {
    font-family: 'id-icons';
    src: url(/fonts/id-icons.eot?0b664e8d82f992701a5b7d95b8eed2b6);
    src: url(/fonts/id-icons.eot?0b664e8d82f992701a5b7d95b8eed2b6#iefix) format('embedded-opentype'), url(/fonts/id-icons.woff2?57c7ac64f99b462132dcf8258b121569) format('woff2'), url(/fonts/id-icons.woff?713b6d100c134aea84f9556d9950ea8f) format('woff'), url(/fonts/id-icons.ttf?73954bfa05b3c74aaa741fc4707c4a33) format('truetype'), url(/fonts/id-icons.svg?aeb9cc3f430b9101a18628d91d75d6aa#id-icons) format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="ico-"]:before,
[class*=" ico-"]:before {
    font-family: "id-icons";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ico-arrow-down:before{content:'\e814'}
.ico-arrow-up:before{content:'\e813'}
.ico-bullseye:before{content:'\f140'}
.ico-cancel:before{content:'\e818'}
.ico-chart-line:before{content:'\e80f'}
.ico-check:before{content:'\e812'}
.ico-circle-thin:before{content:'\f1db'}
.ico-cog:before{content:'\e804'}
.ico-cogs:before{content:'\e801'}
.ico-cube:before{content:'\f1b2'}
.ico-dashboard:before{content:'\e809'}
.ico-edit:before{content:'\e807'}
.ico-eye-off:before{content:'\e803'}
.ico-eye:before{content:'\e802'}
.ico-flag-goal:before{content:'\f11e'}
.ico-flow:before{content:'\e80e'}
.ico-fx:before{content:'\e810'}
.ico-group:before{content:'\e80c'}
.ico-info:before{content:'\e817'}
.ico-list:before{content:'\e816'}
.ico-minus:before{content:'\e815'}
.ico-ok:before{content:'\e81a'}
.ico-plus-circle:before{content:'\e80a'}
.ico-plus-square:before{content:'\f196'}
.ico-save:before{content:'\e808'}
.ico-search:before{content:'\e80d'}
.ico-shield:before{content:'\f132'}
.ico-sliders:before{content:'\e800'}
.ico-tag:before{content:'\e811'}
.ico-trash:before{content:'\e806'}
.ico-update:before{content:'\e805'}
.ico-user:before{content:'\e80b'}
.ico-warning:before{content:'\e819'}

/*!
* varios
*/
.categories-card {
    border-radius: 5px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding: 5px;
}

.mr-05 {
    margin-right: 5px;
}
.fs-10 {
    font-size: 10px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.width-pc {
    max-width: 1366px;
    margin: 0 auto;
}

.form-control {
    color: #444;
}

.chart-desc {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chart-ico-desc {
    color: #7367f0;
    background: #7367f01f;
}
